{
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "spread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "settings": {
    "react": {
      "version": "16.5.2"
    }
  },
  "rules": {
    "no-console": "warn",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 3
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": "error",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error"
    ],
    "prefer-template": "error",
    "jsx-quotes": "error",
    "no-var": "error",
    "eol-last": "error"
  }
}